@font-face{
	font-family:"perso";
	src:url('police/Sansita-Black.ttf');
}
@font-face{
	font-family:"perso";
	font-style:italic;
	src:url('police/Sansita-BlackItalic.ttf');
}
@font-face{
	font-family:"perso";
	font-weight:bold;
	src:url('police/Sansita-Bold.ttf');
}




html
{
text-align:center;
background-image:url("fond2.png");
background-repeat: no-repeat; 
font-family:monospace;
font-family:perso,Arial;

}

#menu h1{
	text-decoration:none;
	font-size:200%;
	padding:10px 30px;
	color:white;

}

#menu{
	margin: 20% 0 20% 0;
	
}




#menu, #menu ul{
padding:0;
list-style:none;
text-align:center;
	
}

#menu li{
display:inline-block;
position:relative;
width:300px;

}

#menu ul li{
display:inherit;
border-radius:0;
}
#menu ul li:hover{
border-radius:0;
}
#menu ul li:last-child{
border-radius:0 0 8px 8px;
}
#menu ul{
position:absolute;
z-index: 1000;
max-height:0;
left: 0;
right: 0;
overflow:hidden;
-moz-transition: .8s all .3s;
-webkit-transition: .8s all .3s;
transition: .8s all .3s;
}
#menu li:hover ul{
max-height:15em;



}
#menu li:first-child{
background-color: #8E3557;

}
#menu li:nth-child(2){
background-color: #4BB5C1;


}
#menu li:nth-child(3){
background-color: #96CA2D;

}
#menu li:nth-child(4){
background-color: #B9121B;

}

#menu li:first-child li{
background:#803052;
width:100%;
}
#menu li:nth-child(2) li{
background:#37B0BD;
width:100%;
}
#menu li:nth-child(3) li{
background:#91C619;
width:100%;
}
#menu li:nth-child(4) li{
background:#B40E17;
width:100%;
}


#menu a{
text-decoration:none;
display:block;
padding:8px 50px;
color:#fff;
font-family:arial;

}
#menu ul a{
padding:0;

}
#menu li:hover li a{
color:#fff;
text-transform:inherit;

}
#menu li:hover a, #menu li li:hover a,#menu h1:hover{
color:rgba(255,255,255,0.7);
}

html {
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    user-select: none;
}

::selection { background: transparent; color:inherit; }
::-moz-selection { background: transparent; color:inherit; }


